#ap-bemvindo {
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: 1px 0px 0px black,
				 1px 0px 0px black,
				 0px 1px 0px black,
				 0px 1px 0px black;
	font-size: 400%;
	font-weight: bold;
	color: #FFF;
	

}